@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:300,400,500&display=swap');
body,
html {
    font-family: Raleway, sans-serif;
    background: #111;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:601px){
body, html{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  }
}
@font-face {
    font-family: Lucca;
    src: url(Lucca-Regular.otf);
}
a {
    color: rgba(125, 152, 151, 1);
    text-decoration: none;
}
a:hover {
    color: rgba(175, 213, 213, 1);
    text-decoration: none;
}
@font-face {
    font-family: SFProText-Medium;
    src: url(SF-Pro-Display-Medium.otf);
    font-weight: Medium;
}
@font-face {
    font-family: SFProText-Semibold;
    src: url(SF-Pro-Display-Semibold.otf);
}
@-webkit-keyframes onLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes onLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a.logo{
    position: fixed;
    top: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background: url(white.png);
    background-size: 117px 25px;
    width: 117px;
    height: 25px;
    margin: 5px 0;
    display: inline-block;
    z-index: 1000;
}
.kind {
    position: fixed;
    bottom: 10px; 
    right: 10px;
    text-align: right;
    max-width: calc(100% - 20px);
    z-index: 99;
}
a.type{
    font-family: SFProText-Semibold;
    font-size: 25px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: -1px;
    line-height: 25px;
    margin: auto;
    display: inline-block;
}
.type.portraits{
    color: rgba(217, 209, 182,1);
}
.type.weddings{
    color: rgba(196, 209, 180,1);
}
.type.baptism{
    color: rgba(204, 197, 194,1);
}
.type.work{
    color: rgba(196, 209, 240,1);
}
.type.landscape{
    color: rgba(186, 213, 217,1);
}
.type.other{
    color: rgba(219, 199, 186,1);
}
.gallery{
    position: relative;
    height: calc(100% - 110px);
    margin-top: 55px;
    margin-bottom: 45px;
    text-align: center;
    -webkit-animation: onLoad .4s ease-in;
    animation: onLoad .4s ease-in;
}
.gallery .pic{
    padding: 10px;
    display: inline-block;
}
.pic:first-child{
    padding-left: 20px;
}
.pic:last-child{
    padding-right: 20px;
}
.pic img{
    position: relative;
    margin: auto;
    height: 100%;
    width: auto;
}
@media screen and (max-width:600px){
.kind {
    position: static;
    margin-left: 10px;
    margin-top: 65px;
    width: calc(100% - 20px);
    text-align: center;
    z-index: 99;
}

.gallery{
    position: relative;
    height: auto;
    width: calc(100% - 20px);
    padding: 0 10px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    -webkit-animation: onLoad .4s ease-in;
    animation: onLoad .4s ease-in;
}

.gallery .pic{
    padding-bottom: 10px;
    position: relative;
    display: block;
}

.pic:first-child, .pic:last-child{
    padding: 10px;
}

.pic img{
    position: relative;
    margin: auto;
    width: 100%;
    height: auto;
}
}
