@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:300,400,500&display=swap');
body,
html {
    font-family: Raleway, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Lucca;
    src: url(Lucca-Regular.otf);
}
a {
    color: rgba(125, 152, 151, 1);
    text-decoration: none;
}
a:hover {
    color: rgba(175, 213, 213, 1);
    text-decoration: none;
}
@-webkit-keyframes onLoad {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.98, .98, .98);
        transform: scale3d(.98, .98, .98);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes onLoad {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.98, .98, .98);
        transform: scale3d(.98, .98, .98);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.kind {
    position: fixed;
    top: 0; left: 0;
	overflow-y: hidden;
    z-index: 99;
    width: calc(100% - 10px);
    padding: 5px;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    background: rgba(255,255,255, .7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
}
.scroll{
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
    width: 697px;
    height: 75px;
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}
a.type{
    margin: 5px;
    width: 160px;
    overflow: hidden;
    display: inline-block;
    border-radius: 3px;
    -webkit-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    transition: .6s ease-in;
}
a.type .title{
    width: 100%;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff!important;
    line-height: 15px;
    font-family: Lucca;
    background: rgba(0,0,0, .1);
    background-size: 100% auto!important;
    background-position: center center!important;
}
.type.portraits{
    background: rgba(217, 209, 182,1) url(content/1.jpg);
    background-size: cover;
    background-position: center center;
}
.type.events{
    background: rgba(196, 209, 180,1) url(content/16.jpg);
    background-size: cover;
    background-position: center center;
}
.type.landscape{
    background: rgba(186, 213, 217,1) url(content/30.jpg);
    background-size: cover;
    background-position: center center;
}
.type.other{
    background: rgba(219, 199, 186,1) url(content/40.jpg);
    background-size: cover;
    background-position: center center;
}
txt{
    display: inline-block;
    position: relative;
    padding: 15px 0;
}
.title txt:after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    left: 50%;
    width: 0px;
    bottom: 3px;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}
.title:hover txt:after, .title.active txt:after {
    left: calc(50% - 25px);
    width: 50px;
}
.back{
    position: relative;
    width: calc(100% - 40px);
    margin: 105px 20px 20px 20px;
}
.back a{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}
.gallery{
    margin: auto;
    margin-top: -10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    -webkit-animation: onLoad .4s ease-in;
    animation: onLoad .4s ease-in;
}
.img{
    width: calc(25% - 20px);
    margin: 8px;
    overflow: hidden;
    display: inline-block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-transition: .6s ease-in;
    -o-transition: .6s ease-in;
    transition: .6s ease-in;
}
.img img{
    width: 100%;
    height: auto;
}
@media screen and (min-width:768px) {
    .kind{
        position: relative;
        width: calc(100% - 30px);
        padding: 15px;
    }
    .back{
        margin: 20px;
    }
}
@media screen and (max-width:768px) {
    .gallery {
        width: calc(100% - 20px);
    }

.kind:before{
    content: '';
    position: fixed;
    top: 0; left: 0;
    z-index: 100;
    width: 10px; height: 85px;
    background:-webkit-gradient(linear, left top, right top, from(white), to(rgba(255,255,255,0)) );
    background:-o-linear-gradient(left, white, rgba(255,255,255,0) );
    background:linear-gradient(to right, white, rgba(255,255,255,0) );
}

.kind:after{
    content: '';
    position: fixed;
    top: 0; right: 0;
    z-index: 100;
    width: 10px; height: 85px;
    background:-webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)) , to(white));
    background:-o-linear-gradient(left, rgba(255,255,255,0) , white);
    background:linear-gradient(to right, rgba(255,255,255,0) , white);
}
}
@media screen and (max-width:500px) {
}
