
body,
html {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:300,400&display=swap');

@font-face {
    font-family: Lucca;
    src: url(Lucca-Regular.otf);
}

a {
    color: rgba(125, 152, 151, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(175, 213, 213, 1);
    text-decoration: none;
}

.header {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    font-family: Lucca;
    text-align: center;
}

.header ul,
.header ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

.header li a {
    line-height: 30px;
    margin: 0 5px;
    padding: 5px;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
    position: relative;
}

.header li a:after,
.header li a.active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    transition-duration: .6s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
}

.header li a:hover:after,
.header li a.active:after {
    left: 20%;
    width: 60%;
    transition-duration: .6s;
}

.bg {
    position: relative;
    overflow: hidden;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 3px;
    background: url(2.jpg);
    background-size: cover;
    background-position: center 35%;
    box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, .2));
    animation: onLoad .2s ease-in;
}

@keyframes onLoad {
    from {
        opacity: 0;
        transform: scale3d(.98, .98, .98);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.stamp {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 70px;
    height: 70px;
    background: url(icon.png);
    background-position: center;
    background-size: 80px 80px;
}

a.logo {
    position: relative;
    top: 17px;
    left: 17px;
    width: 209px;
    height: 48px;
    display: block;
    background: url(white.png) no-repeat;
    background-position: left center;
    background-size: auto 44px;
    mix-blend-mode: overlay;
}

@media screen and (max-width:600px) {
    .stamp {
        display: none;
    }
    .header {
        width: calc(100% - 190px);
        padding: 0 75px;
    }
    a.logo {
        left: 0;
        width: calc(100% - 40px);
        background-position: top center;
        top: 20px;
        margin: auto;
    }
    .header li a:after,
    .header li a.active:after {
        bottom: 1px;
    }
    @media screen and (max-width:490px) {
        .header {
            width: calc(100% - 40px);
            padding: 0;
        }
        .header ul li {
            display: block;
        }
    }
